In [1]:
valor1 = input('Digite um número inteiro:')
valor2 = input('Digite outro número inteiro:')
#input serve para pegar dados inseridos pelo usuário

In [2]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [ ]:
###Lista vazia
L = []
##Lista com valor
L = list() #construtor de lista

In [8]:
dias = [3,1,10] #cria valores lista
dias[0] #mostra o primeiro indice

3

In [9]:
dias[1]

1

In [10]:
dias[2]

10

In [11]:
Z = [3,8,9]
#cria lista

In [12]:
Z[0] = 7
#modifica lista

In [13]:
Z
# ou print(Z) tb funciona, porém opte por usar apenas Z

[7, 8, 9]

In [14]:
a = [81, 82, 83]

In [15]:
b = a[:] #cria um clone com fatia, o [:] clona a lista

In [16]:
print(a==b)

True

In [17]:
print(a is b)

False

In [18]:
b[0] = 5

In [19]:
print(a)
print(b)

[81, 82, 83]
[5, 82, 83]

In [20]:
uma_lista = ['a','b','c','d','e','f']
#

In [21]:
print(uma_lista[1:3])

['b', 'c']

In [22]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [23]:
print(uma_lista[3:])

['d', 'e', 'f']

In [24]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
a = [1,2,3]

In [26]:
b = a[:]

In [27]:
b[0] = 5

In [28]:
print(a[3])
# nao printa pois nao existe indice 3

IndexError: list index out of range

In [74]:
minhaLista = [76, 92.3, "oi", True, 4, 76]

In [75]:
minhaLista[7:]= ["pitomba", 76]

In [76]:
minhaLista

[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]

In [81]:
minhaLista[3] = "Cibele"

In [82]:
minhaLista

[76, 92.3, 'oi', 'cibele', 4, 76, 'pitomba', 76]

In [83]:
#inserir o valor de 99 no incio da lista
minhaLista[:0] = [99]

In [84]:
minhaLista

[99, 76, 92.3, 'oi', 'cibele', 4, 76, 'pitomba', 76]

In [90]:
#encontrar o indice de "oi"
minhaLista [:]

[99, 76, 92.3, 'oi', 'cibele', 4, 76, 'pitomba', 76]

In [87]:
uma_lista = [4,2,8,6,5]

In [88]:
uma_lista = uma_lista + ["Cibele"]

In [89]:
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

In [106]:
minhaLista

[99, 76, 92.3, 'oi', 'cibele', 4, 76, 'pitomba', 76]

In [ ]:
#tupla, pode ser criada sem paretensesis, mas deve conter virgulas. tupla é rigida, os elementos precisam ser do mesmo tipo. multiplicação de matriz, por ex. 
tupla_nova = 10, 20, 30

In [92]:
tupla_elemento = 10,

In [ ]:
#tupla vazia
tupla_vazia = ()

In [97]:
#criando um dicionario
dicio = {'chave' : 'valor'}
print(type(dicio))

<class 'dict'>

In [98]:
d = {'laranjas':15, 'bananas':35, 'siriguelas':12}

In [99]:
d['bananas']

35

In [100]:
d['pitomba'] = 20

In [101]:
len(d)

4

In [107]:
'pears' in d

False

In [108]:
del d['laranjas'] 
#deleta

In [109]:
'laranjas' in d
#apagou

False

In [110]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [111]:
print([1,2] + [3,4])
#concatenou as listas, não os elementos. pay attention

[1, 2, 3, 4]

In [112]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [113]:
print([0] * 4)
#repetiu o que existe dentro da lista, pois embora seja um número, 0 é um >>objeto<< da lista. ent repete o objeto da lista x4

[0, 0, 0, 0]

In [116]:
print([1,2,["oi", "tchau"]]*2)
#uma lista dentro de outra lista

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]